node_modules/
.env
.env.local
.env.*
scratch/
# Allow initial project images, ignore future uploads if needed
# public/images/* 
# We remove the ignore for now to get your live site looking good!
!public/images/.gitkeep
dist/
build/
.DS_Store